@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

.resume_wrapper{
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}

.resume_wrapper .resume_left{
	width: 35%;
	background: #26252d;
}

.resume_wrapper .resume_left .profile-container {
  padding:30px;
  background: rgba(0, 0, 0, 0.12);
  text-align: center;
  color: #fff;
}

.resume_wrapper .resume_left .profile-container img{
  border-radius: 50%;
}

.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_info{
	color: #84838b;
	text-align: justify-all;
}

.resume_wrapper .resume_left .resume_bottom{
	padding: 20px 30px;
}

.resume_wrapper .resume_item{
	padding: 20px 0;
	border-bottom: 1px solid #0175b2;
}

.resume_wrapper  .resume_item:last-child{
	border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole{
	display: none;
}

.resume_wrapper .resume_namerole .name{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child{
	 margin-top: 10px;
}

.resume_wrapper .resume_left .resume_personal .resume_subtitle{
	color: #fff;
	margin-bottom: 2px;
	margin-top: 10px;
}

.resume_wrapper .resume_left .resume_personal .resume_subinfo:hover{
	transform: translate(-1%, -5%);
}

.resume_wrapper .resume_left .resume_socials .resume_info{
	display: flex;
	letter-spacing: 1.2rem;
	margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_contact a{
  color:#84838b; 
  text-decoration: none;
}

.resume_wrapper .resume_left .resume_contact a i{
  width: 20px;
  height: 20px;
  margin-right:5px;
  position: relative;
}

.resume_wrapper .resume_left .resume_contact a:hover{
  color:#0175b2; 
}

.resume_wrapper .resume_left .resume_socials .resume_info .socials_link{
	font-size: 14px;
}

.resume_wrapper .resume_left .resume_socials .resume_info .socials_link i{
	color: #84838b;
}

.resume_wrapper .resume_left .resume_socials .resume_info .socials_link i:hover{
   transform: translateY(-20%);
   opacity:10;
   color: #0175b2;
}

.resume_wrapper .resume_left .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume_wrapper .resume_left .resume_hobby ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_hobby ul li {
  width: 50px;
  height: 40px;
  border: 2px solid #84838b;
  border-radius: 10%;
  position: relative;
  color: #0175b2;
}

.resume_wrapper .resume_left .resume_hobby ul li:hover {
  width: 50px;
  height: 40px;
  border: .5px solid #0175b2;
  border-radius: 10%;
  position: relative;
  color: #fff;
}

.resume_wrapper .resume_left .resume_hobby ul li i {
  font-size: 16px;
}

.resume_wrapper .resume_left .resume_languages ul li {
  display: flex;
  margin-bottom: 10px;
  color: #84838b;
  justify-content: space-between;
  align-items: center;
}

.resume_wrapper .resume_left .resume_languages ul li .name {
  width: 22%;
}

.resume_wrapper .resume_left .resume_languages ul li .name:hover {
   color: #fff;
  font-weight: bold;
}

.resume_wrapper .resume_left .resume_languages ul li .progress {
  width: 62%;
  margin: 0 5px;
  height: 5px;
  background: #fff;
  position: relative;
}

.resume_wrapper .resume_left .resume_languages ul li .per {
  width: 15%;
}

.resume_wrapper .resume_left .resume_languages ul li .per:hover {
  color: #fff;
  font-weight: bold;
}

.resume_wrapper .resume_left .resume_languages ul li .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #0175b2;
}

.resume_wrapper .resume_right{
	width: 65%;
	padding: 20px 40px;
	color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name{
	color: #26252d;
	font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role{
	font-size: 14px;
	text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title{
	color: #26252d;
}

.resume_wrapper .resume_right .resume_data{
	display: flex;
}

.resume_wrapper .resume_right .resume_data .year{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.resume_wrapper .resume_right .resume_data .content .semi-bold{
	margin-bottom: 10px;
	color: #0175b2;
	font-weight: bolder;
}

.resume_wrapper .resume_right .resume_data .content .link{
	margin-top: 8px;
}

.resume_wrapper .resume_right .resume_data .content a{
	color: #0175b2;
	font-weight: semi-bold;
	text-decoration: none;
}

.resume_wrapper .resume_right .resume_data .content a:hover{
	color: #26252d;
        font-weight: bold;
}

.resume_wrapper .resume_right .resume_data .content{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.resume_wrapper .resume_right .resume_skill ul {
  display: flex;
  justify-content: space-between;
}

.resume_wrapper .resume_right .resume_skill ul li {
  width: 80px;
  height: 80px;
  position: relative;
  font-size: .6rem;
  padding: 5px;
  text-align: justify-all;
  width: 25%;
  color: rgba(38, 37, 45, .8);  
  text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_skill ul li i {
  font-size: 30px;
}

.resume_wrapper .resume_right .resume_skill ul li:hover {
  transform: scale(1.1);
  color:#0175b2;
}

.resume_wrapper .resume_left .resume_skills .skills_list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p{
	position: relative;
	width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span{	
	position: absolute;
	top: 0;
	left: 0;
	background: #0175b2;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 800px){
	.resume_wrapper .resume_right .resume_namerole{
		display: none;
	}
	.resume_wrapper .resume_left .resume_namerole{
		display: block;
	}
	.resume_wrapper{
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left,
	.resume_wrapper .resume_right{
		width: 100%;
	}

	.resume_wrapper .resume_left .resume_hobby ul {
  display:flex;
  justify-content: space-between;
}

.resume_wrapper .resume_left .resume_hobby ul li {
	border-radius:6%;
  width: 150px;
  position: relative;
}

.resume_wrapper .resume_left .resume_hobby ul li:hover {
	border-radius:6%;
  width: 150px;
  position: relative;
}


@media screen and (max-width: 424px){
	.resume_wrapper .resume_right{
		padding: 20px 30px;
	}
	.resume_wrapper .resume_right .resume_data{
		flex-direction: column;
	}
	.resume_wrapper .resume_right .resume_data .year{
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #0175b2;
	}
	.resume_wrapper .resume_right .resume_data .year:before,
	.resume_wrapper .resume_right .resume_data .year:after{
		display: none;
	}
	.resume_wrapper .resume_right .resume_data .content{
		width: 100%;
		padding: 0;
	}
}